<div ng-controller='leftController' >
  <div class="notification-icon">
    <a class="btn" href="#">
      <i class="fa fa-home fa-2x i-active"></i>
    </a>
    <!-- <span class="badge progress-bar-danger">9</span> -->
  </div>
  <div class="notification-icon">
    <a class="btn" href="#">
      <i class="fa fa-book fa-2x i-btn"></i>
    </a>
    <!-- <span class="badge progress-bar-danger">99+</span> -->
  </div>
  <div class="notification-icon">
    <a class="btn" href="#">
      <i class="fa fa-pencil fa-2x i-btn"></i>
    </a>
  </div>
  <div class="notification-icon">
    <a class="btn" href="#">
      <i class="fa fa-cog fa-2x i-btn"></i>
    </a>
    <!-- <span class="badge">9</span> -->
  </div>
  <div class="notification-icon">
    <a class="btn" href="#" ng-click='savedoc();'>
      <i class="fa fa-save fa-2x i-active"></i>
    </a>
  </div>
</div>
