html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  background-color: #fff;
  font-family: Arial, 'Microsoft YaHei';
  /*height: 100%;*/
  /*width: 100%;*/
  margin: 0px;
  padding: 0 0 0 350px;
}
.workspaceleft {
  width: 50px;
  /*height: 100%;*/
  top: 0px;
  bottom: 0px;
  float: left;
  /*left: 0px;*/
  /*right: 0px;*/
  position: absolute;
  min-width: 50px;
  margin-left:-350px;
  transition: width 0.2s ease-out;
  display: block;
  box-sizing: border-box;
  background-color: #252525;
  border: none;
}

.workspacelist {
  width: 300px;
  /*height: 100%;*/
  top: 0px;
  bottom: 0px;
  /*left: 50px;*/
  float: left;
  position: absolute;
  min-width: 300px;
  margin-left:-300px;
  border: none;
  display: block;
  transition: width 0.2s ease-out;
  box-sizing: border-box;
  background-color: #fff;
}
.workspacelist .title {
  font-size: 18px;
  font-weight: 500;
  height: 19px;
}
.doc-list{
  width: 100%;
  height: 570px;
  /*height: 515px;*/
  /*max-height: 100%;*/
  min-width: 200px;
  position: relative;
  border: none;
  display:block;
  overflow-x: hidden;
  overflow-y: auto;
}

.workspacedoc {
  width: 100%;
  height: 100%;
  top: 0px;
  /*left: 350px;*/
  /*float: right;*/
  bottom: 0px;
  right: 0px;
  /*position: absolute;*/
  /*min-width: 300px;*/
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
  box-sizing: border-box;
  background-color: #eee;
}

.i-btn {
  color:#666;
}

.i-active {
  color:#fff;
}

.notification-icon .badge {
    top: 2px;
    right:2px;
    position: absolute;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: lighter;
    display: block;
    float:right;
}
.notification-icon{
  display: block;
  position: relative;
}
