body {
  background-color: #fff;
  font-family: Arial, 'Microsoft YaHei';
}
.workspaceleft {
  width: 50px;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  min-width: 50px;
  transition: width 0.2s ease-out;
  display: block;
  box-sizing: border-box;
  background-color: #252525;
  border: none;
}

.workspacelist {
  width: 300px;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 50px;
  position: absolute;
  min-width: 300px;
  border: none;
  display: block;
  transition: width 0.2s ease-out;
  box-sizing: border-box;
  background-color: #fff;
}

.workspacedoc {
  width: 730px;
  height: 100%;
  top: 0px;
  left: 350px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  min-width: 300px;
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
  box-sizing: border-box;
  background-color: #eee;
}

.i-btn {
  color:#666;
}

.i-active {
  color:#fff;
}
