<!DOCTYPE html>
<html ng-app="myApp">
<head >
  <meta charset="utf-8">
  <title>WorkPie</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.css" />
  <link rel="stylesheet" href="../lib/css/font-awesome.css" />
  <link rel="stylesheet" href="./css/app.css" />

  <script src="../lib/js/underscore.js"></script>
  <script src="../lib/js/angular.js"></script>
  <script>
    var myApp = angular.module('myApp', []);

    myApp.controller('HelloController',function($scope) {
      /*$scope.greeting = {};*/
      $scope.show = false;
      $scope.init = function() {
        $scope.myTitle = "";
        /*$scope.change($scope.greeting);*/
      }
      /*$scope.change = function (value) {
        console.log("helloCtr1", value);
        $scope.$emit("valueNameChange", value);
      };*/
      $scope.switchTitle = function(){
        $scope.show = false;
        // angular.element(document.getElementById("myTitleInput")).select();
        // console.log(document.getElementById("myTitleInput"));
        console.log(document.activeElement.tagName);
        document.getElementById("myTitleInput").focus();
        console.log(document.activeElement.tagName);
      }
    });
    // myApp.directive('setFocus', function(){
    //       return function(scope, element){
    //         console.log(element[0]);
    //         element[0].focus();
    //       }
    // });
  </script>
</head>

<body  >
  <div class="container" ng-controller="HelloController">
    <p> </p>
    <h1>
      <input id="myTitleInput" placeholder="无标题" style="
        border-left-style:none;
        border-right-style:none;
        border-top-style:none;
        outline:none;
        width:300px;
        display:block;
        "
        ng-model="myTitle"
        ng-show="!show"
        ng-blur="show = true"
        />
      <span style="width:300px;border-bottom-style:inset; border-color: #eee;border-width: 2px;"
        ng-show="show"
        ng-click="switchTitle();">{{myTitle}}+</span>
    </h1>
</div>
</body>

</html>
