<div>
  <link rel="stylesheet" href="./lib/css/medium-editor.css" />
  <link rel="stylesheet" href="./lib/css/themes/default.css" />
  <link rel="stylesheet" href="./static/css/meditor.css" />

  <div id="container">
    <div class="titlecontainer">
        <h2>
          <input id="myTitleInput" placeholder="无标题" class="titleinput"
            ng-model="myTitle"
            ng-show="!show"
            ng-blur="show = true"
            />
          <div class="titlediv"
            ng-show="show"
            ng-click="show = false">{{myTitle || "无标题"}}</div>
        </h2>
    </div>
    <div class="editable">

    </div>
  </div>

  <script type="text/javascript-lazy">
    var elements = document.querySelectorAll('.editable');
    var editor = new MediumEditor(elements, {
          buttons: ['bold', 'italic', 'underline', 'strikethrough', 'quote', 'anchor', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull','orderedlist', 'unorderedlist', 'pre', 'outdent', 'indent', 'header1', 'header2'],
          buttonLabels: 'fontawesome',
          placeholder: '请输入内容',
          firstHeader: 'h1',
          secondHeader: 'h2',
          anchorInputPlaceholder: '输入链接地址',
          anchorInputCheckboxLabel: '在新窗口中打开',
    });
    editor.subscribe('editableInput', function (event, editable) {
        //
    });

  </script>

</div>
